.hero-section {
  margin: 10rem 10rem 5rem 15rem;
  display: flex;
  padding: 1rem 0 1rem 0;
  border: 2px solid #f1f1f3;
  border-bottom: 2px solid #bababb;
  border-radius: 0.7rem;
}

.hero-section > div:not(:last-child) {
  border-right: 1px solid grey;
}

.hero-img {
  width: 85%;
}

.hero-image {
}

.hero-image__file {
  width: 90%;
  margin: 0rem 6.3rem 5rem 6.3rem;
}
