.navbar {
}

.sale {
  background-color: #ff9500;
  text-align: center;
  color: white;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  -bottom: 0.5rem;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 2rem 0.7rem 2rem;
  border: 0.4rem solid #f2f2f4;
}

.left-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-right: 0.4rem;
}

.logo__image {
  width: 50%;
}

.menu-left {
  padding-left: 0.4rem;
  display: flex;
  justify-content: space-between;
}

.menu-left__button {
  text-decoration: none;
  padding-right: 1rem;
}

.menu-right {
  display: flex;
  text-align: center;
}

.menu-right__button {
  text-decoration: none;
}

.menu-right > div:not(:last-child) {
  padding-right: 1.6rem;
}
